<%- include('parts/head') %>
</head>

<body>
    <div class="content">
        <a href="/"><img src="/images/logo.png" alt="Logo" id="logo"></a>
        <h1>Veja os resultados abaixo:</h1>
        <table class='results'>
            <tr>
                <th>Faixa de Idade</th>
                <th>Convênio</th>
                <th>Faixa de Salário</th>
                <th>Motivo do Empréstimo</th>
            </tr>
            <%for(let i = 0; i < answers.length; i++){%>
            <tr>
                <td><%=answers[i].ageRange%></td>
                <td><%=answers[i].agreement%></td>
                <td><%=answers[i].salaryRange%></td>
                <td><%=answers[i].loanReason%></td>
            </tr>
            <%}%>
        </table>
    </div>
</body>

</html>